.App {
  border: 2px solid #d3d3d3;
  border-radius: 0.5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 1em;
  text-align: left;
  width: 600px;
}

body * {
  font-family: "Open Sans";
}

.form {
  padding: 1em;
}

label {
  font-weight: 600;
}

img {
  opacity: 100%;
}

.card {
  margin: 50px;
  /* width: 1000px !important; */
}

.card-container-home .card img {
  width: 300px;
}

.card:hover {
  border: solid black;
  cursor: pointer;
}

.card-container-home {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 5%;
}

#card-container .card {
}

#single-view-container {
  display: flex;
}

#showAll {
  height: 60px;
  border-radius: 70px;
  background-color: salmon;
  margin-left: 43%;
  margin-bottom: 50px;
}

.navbar {
  color: salmon;
}

.navbar-brand {
  cursor: default;
  margin-left: 40%;
}

#bistro {
  margin: 10px 10% 0px 10%;
  cursor: pointer;
  display: flex;
}

#bistroName {
  font-family: "Open Sans";
  /* margin: 100px 10%; */
  cursor: pointer;
  font-size: 100px;
}

#mascot {
  font-size: 100px;
}

#bistroDescription {
  margin: 10px 10% 50px 10%;
  font-size: 25px;
}

#cart-display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 30px;
}

#cart {
  font-size: 40px;
}

#no-items {
  color: darkslategrey;
  font-size: 20px;
}
